<div id="container-2">
    <h1>There are <%= @available_badgers.count %> Available Badgers</h1>
</div>
<br>

<div class="container">
    <% @available_badgers.each do |badger| %>
        <div class="badger_container"> <%= link_to image_tag(badger.img_url), badger_path(badger) %> </div>
    <% end %>
</div>